In [3]:
#Brendan Bradfield
#SDEV 220
#6/27/2024
#modules and data

In [21]:
#11.1
import zoo
hours()

Open 9-5 daily

In [23]:
#11.2
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [51]:
#16.8
import csv
import sqlite3
from sqlalchemy import create_engine, Table, MetaData, select

# SQLite database path
db_path = r'C:\Users\bradf\OneDrive\SDEV220\Github\MO4-Collaboration\books.db'
csv_file = r'C:\Users\bradf\OneDrive\SDEV220\Github\MO4-Collaboration\books2.csv'

def create_books_table(db_path):
    try:
        # Connect to SQLite database
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()

        # Create books table if not exists
        create_table_sql = '''
        CREATE TABLE IF NOT EXISTS books (
            title TEXT,
            author TEXT,
            year INTEGER
        )
        '''
        cursor.execute(create_table_sql)
        conn.commit()
        conn.close()

        print(f'SQLite database "{db_path}" and table "books" created successfully.')

    except sqlite3.Error as e:
        print(f'SQLite error: {e}')
    except Exception as e:
        print(f'Error: {e}')

def insert_data_to_db(csv_file, db_path):
    try:
        # Connect to SQLite database
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()

        # Read data from CSV and insert into SQLite
        with open(csv_file, 'r', newline='', encoding='utf-8') as file:
            csv_reader = csv.DictReader(file)
            for row in csv_reader:
                title = row['title']
                author = row['author']
                year = int(row['year'])  # Convert year to integer

                # Insert data into 'books' table
                cursor.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', (title, author, year))

        # Commit changes and close connection
        conn.commit()
        conn.close()

        print(f'Data from "{csv_file}" has been successfully inserted into the "books" table in "{db_path}".')

    except sqlite3.Error as e:
        print(f'SQLite error: {e}')
    except Exception as e:
        print(f'Error: {e}')

def select_titles_alphabetical(db_path):
    try:
        # Connect to SQLite database
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()

        # Select titles from 'books' table in alphabetical order
        cursor.execute('SELECT title FROM books ORDER BY title')
        titles = cursor.fetchall()

        # Print titles
        print("Titles in alphabetical order:")
        for title in titles:
            print(title[0])  # title is a tuple, so access the first element (title column)

        # Close connection
        conn.close()

    except sqlite3.Error as e:
        print(f'SQLite error: {e}')
    except Exception as e:
        print(f'Error: {e}')

def select_books_by_year(db_path):
    try:
        # Connect to SQLite database
        conn = sqlite3.connect(db_path)
        cursor = conn.cursor()

        # Select all columns from 'books' table ordered by year
        cursor.execute('SELECT * FROM books ORDER BY year')
        books = cursor.fetchall()

        # Print header
        print("Books ordered by year:")

        # Print each book record
        for book in books:
            print(book)

        # Close connection
        conn.close()

    except sqlite3.Error as e:
        print(f'SQLite error: {e}')
    except Exception as e:
        print(f'Error: {e}')

def select_titles_alphabetical_sqlalchemy(db_path):
    try:
        # Create SQLAlchemy engine
        engine = create_engine(f'sqlite:///{db_path}')

        # Reflect the existing database schema
        metadata = MetaData()
        books_table = Table('books', metadata, autoload_with=engine)

        # Build a select statement for title column ordered alphabetically
        stmt = select([books_table.columns.title]).order_by(books_table.columns.title)

        # Execute the statement and print titles
        with engine.connect() as conn:
            result = conn.execute(stmt)
            print("Titles in alphabetical order (using SQLAlchemy):")
            for row in result:
                print(row.title)

    except Exception as e:
        print(f'Error: {e}')

# Main execution flow
if __name__ == "__main__":
    # Step 1: Create SQLite database and table
    create_books_table(db_path)

    # Step 2: Insert data from CSV into SQLite database
    insert_data_to_db(csv_file, db_path)

    # Step 3: Select and print titles in alphabetical order using SQLite
    select_titles_alphabetical(db_path)

    # Step 4: Select and print all columns ordered by year using SQLite
    select_books_by_year(db_path)

    # Step 5: Select and print titles in alphabetical order using SQLAlchemy
    select_titles_alphabetical_sqlalchemy(db_path)

SQLite database "C:\Users\bradf\OneDrive\SDEV220\Github\MO4-Collaboration\books.db" and table "books" created successfully.
Data from "C:\Users\bradf\OneDrive\SDEV220\Github\MO4-Collaboration\books2.csv" has been successfully inserted into the "books" table in "C:\Users\bradf\OneDrive\SDEV220\Github\MO4-Collaboration\books.db".
Titles in alphabetical order:
Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!
Books ordered by year:
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Mi√©ville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
Error: Column expression, FROM clause, or other columns clause element expected, got [Column('title', TEXT(), table=<books>)]. Did you mean to say select(Column('title', TEXT(), table=<books>))?